global:
  scrape_interval: 10s
  evaluation_interval: 10s
  external_labels:
    monitor: 'staff-attendance-monitor'

scrape_configs:
  - job_name: 'laravel-app'
    static_configs:
      - targets: ['host.docker.internal:8000']
    metrics_path: '/metrics'
    scrape_interval: 10s

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    scrape_interval: 10s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []
